<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}cool picture{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <main>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'posts:post' %}">Posts</a>
          <a class="nav-item nav-link" href="{% url 'posts:create_post' %}">Create Post</a>

          <a class="nav-item nav-link navbar-right" href="{% url 'logout' %}">logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Singup</a>

              <a class="nav-item nav-link navbar-right" href="{% url 'login' %}">login</a>


          {% endif %}



    </div>
  </div>
</nav>

  <div class="container">
    <div class="jumbotron">
      {% block content %}
      {% endblock %}
    </div>

  </div>

  </main>
</body>
</html>
